<html>
  <head>
  </head>
  <body>
    <h1 style="color: #007bff;">World Cup Database</h1>
<img src="https://library.sportingnews.com/styles/twitter_card_120x120/s3/2022-11/World-Cup-trophy-stylized-images-%233-%2816x9%29.jpg?itok=EVK4Dnsx" 
     alt="World Cup Trophy" style="width: 1000px; height: auto;">
<form action="/search" method="GET">
<label for="country">Country:</label>
<input type="text" id="country" name="country" placeholder="Enter country name">
<label for="year">Year:</label>
<input type="number" id="year" name="year" placeholder="Enter year">
<button type="submit">Search</button>
</form>
  </body>
</html>
