<html>
  <head>
  </head>
  <body>
    <h1 style="color: #007bff;">World Cup Database</h1>
<img src="https://library.sportingnews.com/styles/twitter_card_120x120/s3/2022-11/World-Cup-trophy-stylized-images-%233-%2816x9%29.jpg?itok=EVK4Dnsx" 
     alt="World Cup Trophy" style="width: 1000px; height: auto;">
<form action="/search" method="GET">
<label for="country">Country:</label>
<input type="text" id="country" name="country" placeholder="Enter country name">
<label for="year">Year:</label>
<input type="number" id="year" name="year" placeholder="Enter year">
<button type="submit">Search</button>
</form>
    <div class="search-section">
    <p>Historical match results of two countries against each other:</p>
    <form action="/search_two_countries" method="GET">
    <label for="country1">Country 1:</label>
    <input type="text" name="country1" id="country1" placeholder="Enter first country" required>

    <label for="country2">Country 2:</label>
    <input type="text" name="country2" id="country2" placeholder="Enter second country" required>

    <button type="submit">Search</button>
</form>
    </div>
    <div class="quiz-section">
        <h2>Take the Quiz</h2>
        <p>Test your World Cup knowledge!</p>
        <a href="/quiz" class="quiz-button" style="display:inline-block; margin-top: 10px; padding: 10px 20px; background-color: #4CAF50; color: white; text-decoration: none; border-radius: 5px;">Start Quiz</a>
    </div>
  </body>
</html>
