<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Cup Matches</title>
</head>
<body>
  <h1>World Cup Matches</h1>
  <h1>{{ title }}</h1>
   <a href="/" class="back-button" style="display:inline-block; margin-bottom: 20px; padding: 10px 20px; background-color: #4CAF50; color: white; text-decoration: none; border-radius: 5px;">Back to Home</a>
    <table border="1">
        <thead>
            <tr>
                <th>Year</th>
                <th>Stage</th> <!-- Added Stage column -->
                <th>Match</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            {% for match in matches %}
                <tr>
                    <td>{{ match['Year'] }}</td>
                    <td>{{ match['Stage'] }}</td> <!-- Display Stage -->
                    <td>{{ match['Home Team Name'] }} {{ match['Home Team Goals'] }} : {{ match['Away Team Goals'] }} {{ match['Away Team Name'] }}</td>
                    <td>{{ match['Win conditions'] if match['Win conditions'] and match['Win conditions']|length > 100 else '' }}</td>


                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
